.container{
  width: calc(100% - 60px);

  background-color: rgba(255, 255, 255, 0.226);
  backdrop-filter: blur(50px);
  box-shadow: 0 0 8px 2px #6d61b33b;
  
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;

}